@font-face {
    font-family: The;
    src: url('../font/The Centurion.ttf') format('opentype');
}


.content {
    padding: 1rem;
}

.content h1 {
    margin: 0;
    
}


body {
    font-family: 'The';
    color: tomato;
}